<h1><%= @resto.name %></h1>
<p><%= @resto.address %></p>

<!-- <a href="/restaurants/1/reviews/new">New Review</a> -->

<%= link_to 'Write your review', new_restaurant_review_path(@resto) %>

<div class="my-3">
  <div class="row">
    <% @resto.reviews.each do |review| %>
      <div class="col-4">
        <div class="card">
        <div class="card-body">
          <p class="card-text">
            <%= review.content %> <span class="badge badge-primary"><%= review.rating %></span>
          </p>
        </div>
      </div>      
      </div>
    <% end %>  
  </div>  
</div>
